*{
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
.container{
    margin-left: 150px;
    margin-right:150px ;
}
body{
    background: rgb(245, 248, 255);
}

.nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto auto;
    
}
.fig1{
    max-width: 100%;
    margin: 0px 0px;
}
 
 .nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;

 }
.nav-list{
    display: flex;
    justify-content: space-between;
    line-height: 1.5rem;
    
}
.cart{
    color: black;
    font-weight: 700;
}
.icon{
    height: 1.375rem;
    width:0.9375rem;
}

a{
    text-decoration: none;
    
}
.home{
    color: black;
    font-weight: 700;
}

.shop-cu{
    color:#8987A1;
    font-weight: 400;
}

.banner{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
    padding-top: 10%;
}
.hero-flower{
    max-width: 100%;
    height: auto;
    display: block;
}
.banner-h1{
    font-size: 4rem;
    font-weight: 700;

}
.banner-h1-span{
    color: rgb(233, 90, 8);

}
.banner-h1-p{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 1.15rem;

}

.card-h1{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    padding-top: 5%;
}
.card-h1-span{
    color: rgb(233, 90, 8); ;
}
.card-h1-p{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 1.15rem;
    text-align: center;

}
.single-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-img{
    max-width: 100%;
    height: auto;
}
.cards h3{
    font-weight: 500;
    font-size: 1.15rem;
}
.cards p{
    font-weight: 700;
    font-size: 1.15rem;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap:20px;
}
.button-card{
    border: none;
    background-color: rgb(233, 90, 8);
    color: white;
    padding: 1rem 5.635rem;
}
.plant-lover-section{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 200px;
}
.pl-h1{
    font-size: 3.125rem;
    font-weight: 700;
}
.pl-list{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pl-list li{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 1.15rem;
}
.pl-img{
    max-width: 100%;
    height: auto;
    position: relative;
}
.trust{
    max-width:300px;
    height: 300px;
    position: absolute;
    top: 1930px;
    left:490px;
    right: 0;
}
.join-us-container{
    background-image: url(./assets/news-letter-bg.png);
    margin: 50px 0px;
    padding-top: 150px;
    padding-bottom:200px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.join-us-h1{
    font-size: 3.125rem;
    color: white;
}
.input{
    width: 40.25rem;
    height: 2.2rem;
    border: none;
    padding: 0px;
}
.input-btn{
    height: 2.3rem;
    width: 7rem;
    background-color: rgb(233, 90, 8);
    color: white;
    border: none;
}




@media screen and (max-width:768px) {
    

    .container{
        margin: 0px auto;
    }
    .banner{
        display: flex;
        flex-direction: column;
    }
    .banner-h1{
        font-size: 1.5rem;
    }
    .home{
        display: none;
    }
    .shop-cu{
        display: none;
    }
    .card-h1{
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
    padding-top: 5%;
}
.txt1{
    display: none;
}

.cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    row-gap:20px;
    
}
.button-card{
    border: none;
    background-color: rgb(233, 90, 8);
    color: white;
    padding: auto 3.35rem;
}
.plant-lover-section{
    display: flex;
    flex-direction: column;
    align-items: left;
}
.trust{
    display: none;
}
.join-us-container{
    background-image: url(./assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.join-us-h1{
    font-size: 2.125rem;
    color: white;
    text-align: center;
}
.input{
    width: 10.25rem;
    height: 2.6rem;
    border: none;
    padding: 0px;
}
.input-btn{
    height: 2.6rem;
    width: 6rem;
    background-color: rgb(233, 90, 8);
    color: white;
    border: none;
}

    
}
